/*

Add styles or override variables from the theme here.

*/

$primary: #2E4053;
$secondary: #D5D8DC;

.td-navbar .navbar-brand__name {
    display: none;
}

.td-navbar .navbar-brand__logo .navbar-logo {
    width: auto;
    /* Ajusta el ancho automáticamente */
    max-width: 100%;
    /* Limita el ancho máximo para que no exceda el contenedor */
    overflow: hidden;
    /* Evita que el contenido desborde */
}

.td-navbar .navbar-brand svg {
    height: 60px !important;
    /* Ajusta la altura del logo */
    max-height: 80px !important;
    /* Establece un max-height para limitar el tamaño */
    width: auto !important;
    /* Mantén la relación de aspecto */
    margin: 0 50px !important;
    /* Ajusta el margen si es necesario */
    display: block;
    /* Asegura que el svg no desborde */
    max-width: 100%;
    /* No permite que el SVG crezca más allá del contenedor */
}

.custom-btn-yellow {
    background-color: #d6a100 !important;
    /* Button background color */
    border-color: #d6a100 !important;
    /* Button border color */
    color: #000000 !important;
    /* Text color */
}

.custom-btn-yellow:hover {
    background-color: #b88c00 !important;
    /* Darker shade for hover effect */
    border-color: #b88c00 !important;
    /* Darker border on hover */
}

.custom-btn-dark {
    background-color: #5a8f53 !important;
    /* Button background color */
    border-color: #5a8f53 !important;
    /* Button border color */
    color: #000000 !important;
    /* Text color */
}

.custom-btn-dark:hover {
    background-color: #33532f !important;
    /* Darker shade for hover effect */
    border-color: #33532f !important;
    /* Darker border on hover */
}